@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./assets/fonts/ARIAL.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}
@media (max-width: 1249px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}

/* header start */
.header {
  position: relative;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__logo-img-desktop {
    display: none;
  }
}

.header__logo-img-mobile {
  display: none;
}
@media (max-width: 767px) {
  .header__logo-img-mobile {
    display: block;
    width: 33px;
    height: 37px;
  }
}

.header__logo-text-mobile {
  display: none;
}
@media (max-width: 767px) {
  .header__logo-text-mobile {
    display: block;
    width: 101px;
    height: 18px;
  }
}

@media (max-width: 767px) {
  .header__burger {
    transition: 0.7s all linear;
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 24px;
    height: 16px;
    height: 2px;
    background-color: #000000;
  }
  .header__burger::before {
    transition: 0.7s all linear;
    position: absolute;
    content: "";
    left: 0px;
    top: 10px;
    width: 100%;
    height: 2px;
    background-color: #000000;
    border-radius: 1px;
  }
  .header__burger::after {
    transition: 0.7s all linear;
    position: absolute;
    content: "";
    left: 0px;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: #000000;
    border-radius: 1px;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: calc(50% - 0.5px);
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: calc(50% - 0.5px);
  }
}
.header__wrapper {
  padding: 0 20px;
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
}
@media (max-width: 1249px) {
  .header__wrapper {
    top: 54px;
  }
}
@media (max-width: 767px) {
  .header__wrapper {
    top: 30px;
  }
}

@media (max-width: 767px) {
  .header__navigation-wrapper {
    display: none;
  }
}

.header__navigation {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding: 0;
  margin: 0;
  color: #ffffff;
}
.header__navigation .header__page {
  display: flex;
  align-items: center;
  height: 46px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1249px) {
  .header__navigation .header__page {
    color: #000000;
  }
}
.header__navigation .active-page {
  position: relative;
}
.header__navigation .active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
@media (max-width: 1249px) {
  .header__navigation .active-page::after {
    background-color: #68b738;
  }
}
@media (max-width: 1249px) {
  .header__navigation {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .header__navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: 0.7s all linear;
  }
}
.header__navigation.active {
  transform: translateX(0);
}

/* header end */
/* intro start */
.intro {
  position: relative;
  top: 0px;
  left: calc(50vw - 610px);
  display: flex;
  justify-content: space-between;
  width: calc(100vw - (50vw - 610px));
}
@media (max-width: 1249px) {
  .intro {
    flex-direction: column;
    justify-content: center;
    left: 0;
    width: 100%;
  }
}

.intro__content {
  padding-top: 225px;
  padding-left: 80px;
  max-width: 610px;
}
@media (max-width: 1249px) {
  .intro__content {
    padding-top: 140px;
    padding-left: 117px;
    align-self: flex-start;
    max-width: unset;
  }
}
@media (max-width: 767px) {
  .intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding-left: 0;
    width: 100%;
    padding-top: 93px;
  }
}

.intro__title-wrapper {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
}
@media (max-width: 767px) {
  .intro__title-wrapper {
    text-align: center;
    text-transform: none;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
    font-style: normal;
    text-transform: math-auto;
  }
}

.intro__subtitle {
  padding: 40px 0 52px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .intro__subtitle {
    padding: 25px 0 52px;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
  }
}

.intro__button {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  margin: 0;
  padding: 14px 26px;
  background-color: #68b738;
}
@media (max-width: 767px) {
  .intro__button {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    width: calc(100% - 40px);
    margin: 220px 20px 22px;
    text-align: center;
  }
}

.intro__background {
  position: relative;
  background-image: url("./assets/images/background.jpg");
  width: 50vw;
  height: 697px;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}
@media (max-width: 1249px) {
  .intro__background {
    background-image: none;
    z-index: -10;
    height: 630px;
    width: 695px;
    align-self: flex-end;
    right: 30px;
    bottom: 85px;
  }
}
.intro__background .intro__product-image {
  position: absolute;
  bottom: 54px;
  left: -162px;
  width: auto;
  height: auto;
}
@media (max-width: 1249px) {
  .intro__background .intro__product-image {
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
  }
}
@media (max-width: 767px) {
  .intro__background .intro__product-image {
    position: relative;
    top: 170px;
    width: 280px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
  }
}
@media (max-width: 767px) {
  .intro__background {
    background-image: url("./assets/images/background.jpg");
    background-position: center;
    align-self: center;
    right: unset;
    bottom: unset;
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    height: 305px;
  }
}

/* intro end */
/* catalogs start */
.catalogs {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-top: 80px;
}
@media (max-width: 1249px) {
  .catalogs {
    margin-top: 0px;
    flex-direction: column;
    gap: 30px;
  }
}

.catalogs__card {
  display: grid;
  grid-template-columns: 162px auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "circle title" "content content" "link link";
  gap: 0px;
  background-color: #f2f2f2;
  padding: 54px;
  width: 100%;
}
@media (max-width: 1249px) {
  .catalogs__card {
    grid-template-columns: auto auto;
    grid-template-areas: "title circle" "content circle" "link circle";
    column-gap: 36px;
  }
}
@media (max-width: 767px) {
  .catalogs__card {
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "circle title" "content content" "link link";
    padding: 22px;
  }
}

.catalogs__circle {
  grid-area: circle;
  position: relative;
  background-color: #68b738;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  align-self: center;
}
@media (max-width: 1249px) {
  .catalogs__circle {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .catalogs__circle {
    width: 50px;
    height: 50px;
  }
}
.catalogs__circle .catalogs__cat-slim {
  position: absolute;
  bottom: 8px;
  left: 12px;
}
@media (max-width: 1249px) {
  .catalogs__circle .catalogs__cat-slim {
    width: 140px;
    height: 192px;
    bottom: 19px;
    left: 29px;
  }
}
@media (max-width: 767px) {
  .catalogs__circle .catalogs__cat-slim {
    width: 36px;
    height: 50px;
    bottom: 3px;
    left: 5px;
  }
}
.catalogs__circle .catalogs__cat-pro {
  position: absolute;
  bottom: 22px;
  left: -18px;
}
@media (max-width: 1249px) {
  .catalogs__circle .catalogs__cat-pro {
    width: 268px;
    height: 112px;
    bottom: 36px;
    left: -36px;
  }
}
@media (max-width: 767px) {
  .catalogs__circle .catalogs__cat-pro {
    width: 67px;
    height: 28px;
    bottom: 10px;
    left: -13px;
  }
}

.catalogs__title {
  grid-area: title;
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .catalogs__title {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
  }
}

.catalogs__content {
  grid-area: content;
  padding-top: 40px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  color: #444444;
}
@media (max-width: 767px) {
  .catalogs__content {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
    color: #444444;
  }
}

.catalogs__link {
  grid-area: link;
  display: flex;
  align-items: center;
  padding-top: 28px;
  display: flex;
  gap: 28px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
}
.catalogs__link .catalogs__link-icon {
  width: 32px;
  height: 10px;
}
@media (max-width: 767px) {
  .catalogs__link {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    gap: 15px;
  }
}

/* catalogs end */
/* principles start */
.principles__title {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  padding-top: 72px;
}
@media (max-width: 1249px) {
  .principles__title {
    padding-top: 45px;
  }
}
@media (max-width: 767px) {
  .principles__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
    font-style: normal;
    text-transform: math-auto;
  }
}

.principles__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
  padding-top: 72px;
}
@media (max-width: 1249px) {
  .principles__wrapper {
    row-gap: 37px;
    column-gap: 153px;
  }
}
@media (max-width: 767px) {
  .principles__wrapper {
    padding-top: 38px;
  }
}

.principles__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 230px;
  height: 240px;
}
@media (max-width: 767px) {
  .principles__card {
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: auto;
  }
}

.principles__icon-wrapper {
  width: 80px;
  height: 80px;
  background-color: #68b738;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .principles__icon-wrapper {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
  }
}

.principles__content {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  color: #444444;
  color: #444444;
}
@media (max-width: 767px) {
  .principles__content {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
    color: #444444;
  }
}

.principles__number {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Oswald", sans-serif;
  font-size: 280px;
  font-weight: 400;
  line-height: 0.7;
  font-style: normal;
  color: #f2f2f2;
  z-index: -10;
}
@media (max-width: 767px) {
  .principles__number {
    display: none;
  }
}

/* principles end */
/* example start */
.example {
  position: relative;
}
@media (max-width: 767px) {
  .example {
    background-color: #f2f2f2;
    margin-top: 42px;
  }
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}
@media (max-width: 1249px) {
  .example__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
}

.example__content {
  width: 436px;
}
@media (max-width: 1249px) {
  .example__content {
    width: 100%;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  padding-top: 138px;
}
@media (max-width: 1249px) {
  .example__title {
    padding-top: 90px;
  }
}
@media (max-width: 767px) {
  .example__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
    font-style: normal;
    text-transform: math-auto;
    padding-top: 27px;
  }
}

.example__text {
  padding-top: 146px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  color: #444444;
  color: #444444;
}
@media (max-width: 1249px) {
  .example__text {
    padding-top: 63px;
  }
}
@media (max-width: 767px) {
  .example__text {
    padding-top: 33px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
    color: #444444;
  }
}

.example__data {
  height: auto;
}
@media (max-width: 1249px) {
  .example__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .example__data {
    flex-direction: column;
  }
}

.example__indicators {
  display: flex;
  gap: 42px;
  margin: 70px 0 0 0;
}
@media (max-width: 1249px) {
  .example__indicators {
    margin: 54px 0 0 0;
  }
}
@media (max-width: 767px) {
  .example__indicators {
    margin: 25px 0 0;
  }
}

.example__indicator {
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cdcdcd;
  width: 162px;
  height: 74px;
  border-radius: 3px;
}
.example__indicator .example__legend {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #f2f2f2;
  padding: 0 4px;
  white-space: nowrap;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  color: #444444;
}
@media (max-width: 767px) {
  .example__indicator .example__legend {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.1;
    font-style: normal;
    color: #444444;
    white-space: wrap;
    text-align: center;
    line-height: 1.1;
  }
}
.example__indicator .example__label {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .example__indicator .example__label {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
  }
}
@media (max-width: 767px) {
  .example__indicator {
    margin: 25px 0 0;
    width: 124px;
    height: 56px;
  }
}

.example__cost {
  padding-top: 56px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1249px) {
  .example__cost {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
@media (max-width: 767px) {
  .example__cost {
    padding-top: 26px;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    flex-direction: row;
  }
}

.example__price {
  padding-right: 108px;
}
@media (max-width: 1249px) {
  .example__price {
    padding-right: 0px;
  }
}

.example__scrollbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.example__before-button,
.example__after-button {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px dotted #dcdcdc;
}

.example__comparison {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
@media (max-width: 1249px) {
  .example__comparison {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .example__comparison {
    display: none;
  }
}

.example__image-wrapper {
  position: relative;
  right: -81px;
  height: 536px;
  width: 730px;
}
@media (max-width: 1249px) {
  .example__image-wrapper {
    right: 0px;
  }
}

.example__before-cat-crop {
  width: 365px;
  height: 536px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 767px) {
  .example__before-cat-crop {
    width: 100vw;
    height: auto;
  }
}
.example__before-cat-crop .example__before-cat {
  height: 536px;
  width: 730px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .example__before-cat-crop .example__before-cat {
    width: 100vw;
    height: auto;
  }
}

.example__after-cat-crop {
  width: 365px;
  height: 536px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -5;
}
@media (max-width: 767px) {
  .example__after-cat-crop {
    width: 0;
    height: 0;
  }
}
.example__after-cat-crop .example__after-cat {
  height: 536px;
  width: 730px;
  z-index: -5;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
}

.example__scrollbar-track {
  position: relative;
  width: 428px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #dcdcdc;
}

.example__scrollbar-thumb {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  border: 1px solid #dcdcdc;
  border-radius: 16px;
  box-shadow: 0px 2px 2px #dcdcdc;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  cursor: pointer;
}
.example__scrollbar-thumb::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: #68b738;
}

.example__comparison-mobile {
  display: none;
}

@media (max-width: 767px) {
  .example__comparison-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  .example__image-wrapper-mobile {
    display: flex;
    align-items: center;
    width: 200%;
    transition: 0.5s;
    transform: translate(0%);
  }
  .example__image-wrapper-mobile.example__image-wrapper-mobile-end {
    transform: translate(-50%);
  }
  .example__before-cat-crop-mobile,
  .example__after-cat-crop-mobile {
    width: 100%;
    flex-grow: 1;
  }
  .example__before-cat-mobile,
  .example__after-cat-mobile {
    width: 100%;
    object-fit: contain;
  }
  .example__scrollbar-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .example__before-button-mobile,
  .example__after-button-mobile {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
  }
  .example__scrollbar-track-mobile {
    display: flex;
    align-items: center;
    padding: 0 5px;
    width: 84px;
    height: 14px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #ffffff;
  }
  .example__scrollbar-thumb-mobile {
    width: 35px;
    height: 6px;
    border-radius: 6px;
    background-color: #68b738;
    transition: 0.5s;
  }
  .example__scrollbar-thumb-mobile.example__scrollbar-thumb-mobile-end {
    transform: translateX(calc(100% + 2px));
  }
}
.example__background {
  position: absolute;
  width: 100vw;
  height: 462px;
  left: 0;
  bottom: 0px;
  background-color: #f2f2f2;
  z-index: -10;
}

/* example end */
/* location start */
.location {
  position: relative;
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1249px) {
  .location {
    flex-direction: column;
    height: auto;
  }
}

.location__map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 400px;
  z-index: -10;
}
@media (max-width: 1249px) {
  .location__map {
    position: relative;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .location__map {
    height: 362px;
  }
}

.location__marker {
  transform: translate(-50%, -100%);
}

.location__wrapper {
  width: 100%;
}

.location__content {
  width: 570px;
  height: 200px;
  padding: 0 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
@media (max-width: 1249px) {
  .location__content {
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .location__content {
    height: 114px;
    padding: 0;
  }
}

.location__title,
.location__subtitle,
.location__subtitle-2 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
  width: 50%;
  width: 171px;
}
@media (max-width: 767px) {
  .location__title,
  .location__subtitle,
  .location__subtitle-2 {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    width: 40%;
  }
}

.location__subtitle {
  text-wrap: nowrap;
}

.location__subtitle-2 {
  padding-top: 22px;
}
@media (max-width: 1249px) {
  .location__subtitle-2 {
    padding-top: 0;
  }
}

.location__address-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .location__address-wrapper {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
    color: #444444;
    align-items: flex-start;
  }
}

.location__address,
.location__address-line2,
.location__address-line3 {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  color: #444444;
  color: #444444;
  text-wrap: nowrap;
}
@media (max-width: 767px) {
  .location__address,
  .location__address-line2,
  .location__address-line3 {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
    color: #444444;
    text-align: left;
  }
}

.location__address-line3 {
  padding-top: 22px;
}
@media (max-width: 767px) {
  .location__address-line3 {
    padding-top: 0;
  }
}

/* location end */
/* footer start */
.footer {
  background-color: #f2f2f2;
}

.footer__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .footer__wrapper {
    height: 236px;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.footer__media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 767px) {
  .footer__media {
    gap: 36px;
  }
  .footer__media::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: calc(100vw - 40px);
    height: 1px;
    background-color: #dcdcdc;
  }
  .footer__media::before {
    content: "";
    position: absolute;
    top: -20px;
    width: calc(100vw - 40px);
    height: 1px;
    background-color: #dcdcdc;
  }
}

.footer__html-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
@media (max-width: 767px) {
  .footer__html-logo {
    justify-content: space-between;
    width: 100%;
  }
}

.footer__html-logo-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  color: #444444;
  color: #444444;
}

.footer__vk {
  width: 23px;
  height: 16px;
}

.footer__instagram {
  width: 16px;
  height: 16px;
}

.footer__facebook {
  width: 22px;
  height: 22px;
}

/* footer end */

/*# sourceMappingURL=styles.css.map */
