$color-basic-green: #68b738;
$color-basic-green-2: #5eaa2f;
$color-basic-grey: #f2f2f2;
$color-special-grey: #cdcdcd;
$color-special-grey-2: #ebebeb;
$color-special-grey-2: #666666;
$color-special-dark-grey: #444444;
$color-special-dark-grey-2: #000000;
$color-status-error: #ff8282;

$content-width: 1276px;
$tablet-width: 768px;
$mobile-width: 380px;

@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/ARIAL.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: rgb(236, 237, 199);
}

body {
  font-family: "Oswald", sans-serif;
}
h1 {
  font-family: "Oswald", sans-serif;
}
