$color-basic-green: #68b738;
$color-basic-green-2: #5eaa2f;
$color-basic-white: #ffffff;
$color-basic-grey: #f2f2f2;
$color-special-grey: #cdcdcd;
$color-special-grey-1: #dcdcdc;
$color-special-grey-2: #ebebeb;
$color-special-grey-3: #666666;
$color-special-dark-grey: #444444;
$color-special-dark-grey-2: #000000;
$color-status-error: #ff8282;

$content-width: 1276px;
$tablet-width: 768px;
$mobile-width: 380px;

@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/ARIAL.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin header-1 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
}
@mixin header-2 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
}
@mixin header-3 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
}
@mixin header-4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
}
@mixin header-5 {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
}

@mixin base-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  color: $color-special-dark-grey;
}
@mixin huge {
  font-family: "Oswald", sans-serif;
  font-size: 280px;
  font-weight: 400;
  line-height: 0.7;
  font-style: normal;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
}
h1 {
  @include header_1;
  margin: 0;
}
p {
  margin: 0;
}
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  @media (max-width: 1249px) {
    margin: 0 30px;
  }
}

/* header start */
.header {
  position: relative;
}
.header__wrapper {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  @media (max-width: 1249px) {
  }
}
.header__navigation {
  @include header-4;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding: 0;
  margin: 0;
  color: $color-basic-white;
  .header__page {
    display: flex;
    align-items: center;
    height: 46px;
    text-align: center;
  }
  .active-page {
    border-bottom: 2px solid $color-basic-white;
    @media (max-width: 1249px) {
      border-bottom: 2px solid $color-basic-green;
    }
  }
  @media (max-width: 1249px) {
    @include header-5;
    color: $color-special-dark-grey-2;
    gap: 16px;
  }
}

/* header end */

/* intro start */
.intro {
  position: relative;
  top: 0px;
  left: calc(100vw / 2 - 610px);
  display: flex;
  justify-content: space-between;
  width: calc(100vw - (100vw / 2 - 610px));
  @media (max-width: 1249px) {
    flex-direction: column;
    justify-content: center;

    left: 0;
    width: 100%;
  }
}
.intro__content {
  padding-top: 225px;
  padding-left: 80px;
  max-width: 610px;
  @media (max-width: 1249px) {
    padding-top: 140px;
    padding-left: 117px;
    align-self: flex-start;
  }
  .intro__title {
    padding-bottom: 40px;
  }
  .intro__subtitle {
    padding-bottom: 52px;
    margin: 0;
    @include header-4;
  }
  .intro__button {
    @include header-4;
    color: $color-basic-white;
    border: none;
    margin: 0;
    padding: 14px 26px;
    background-color: $color-basic-green;
  }
}

.intro__background {
  position: relative;
  background-image: url("../assets/images/background.jpg");
  width: calc(100vw / 2);
  height: 697px;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  @media (max-width: 1249px) {
    background-image: none;
    z-index: -10;
    height: 630px;
    width: 695px;
    align-self: flex-end;
    right: 30px;
    bottom: 85px;
  }
  .intro__product-image {
    position: absolute;
    bottom: 54px;
    left: -162px;
    width: auto;
    height: auto;
    @media (max-width: 1249px) {
      height: 100%;
      width: 100%;
      bottom: 0px;
      left: 0px;
    }
  }
}
/* intro end */

/* catalogs start */
.catalogs {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-top: 80px;
  @media (max-width: 1249px) {
    margin-top: 0px;
    flex-direction: column;
    gap: 30px;
  }
}

.catalogs__card {
  display: grid;
  grid-template-columns: 162px auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "circle title"
    "content content"
    "link link";
  gap: 0px;
  background-color: $color-basic-grey;
  padding: 54px;
  width: 100%;
  @media (max-width: 1249px) {
    grid-template-columns: auto auto;
    grid-template-areas:
      "title circle"
      "content circle"
      "link circle";
    column-gap: 36px;
  }
}

.catalogs__circle {
  grid-area: circle;
  position: relative;
  background-color: $color-basic-green;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  align-self: center;
  @media (max-width: 1249px) {
    width: 200px;
    height: 200px;
  }

  .catalogs__cat-slim {
    position: absolute;
    bottom: 8px;
    left: 12px;
    @media (max-width: 1249px) {
      width: 140px;
      height: 192px;
      bottom: 19px;
      left: 29px;
    }
  }
  .catalogs__cat-pro {
    position: absolute;
    bottom: 22px;
    left: -18px;
    @media (max-width: 1249px) {
      width: 268px;
      height: 112px;
      bottom: 36px;
      left: -36px;
    }
  }
}

.catalogs__title {
  grid-area: title;
  align-self: center;
  @include header-2;
}
.catalogs__content {
  grid-area: content;
  padding-top: 40px;
  @include base-text;
}
.catalogs__link {
  grid-area: link;
  display: flex;
  align-items: center;
  padding-top: 28px;
  display: flex;
  gap: 28px;
  @include header-4;
  .catalogs__link-icon {
    width: 32px;
    height: 10px;
  }
}
/* catalogs end */

/* principles start */
.principles__title {
  @include header-1;
  padding-top: 72px;
  @media (max-width: 1249px) {
    padding-top: 45px;
  }
}

.principles__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
  padding-top: 72px;
  @media (max-width: 1249px) {
    row-gap: 37px;
    column-gap: 153px;
  }
}
.principles__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 230px;
  height: 240px;
}
.principles__icon-wrapper {
  width: 80px;
  height: 80px;
  background-color: $color-basic-green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principles__content {
  @include base-text;
}
.principles__number {
  position: absolute;
  top: 0;
  right: 0;
  @include huge;
  color: $color-basic-grey;
  z-index: -10;
}
/* principles end */

/* example start */
.example {
  position: relative;
}
.example__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
  @media (max-width: 1249px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
}

.example__content {
  width: 436px; // убрать
  @media (max-width: 1249px) {
    width: 100%;
  }
}
.example__title {
  @include header-1;
  padding-top: 138px;
  @media (max-width: 1249px) {
    padding-top: 90px;
  }
}
.example__text {
  padding-top: 146px;
  @include base-text;
  @media (max-width: 1249px) {
    padding-top: 63px;
  }
}
.example__data {
  @media (max-width: 1249px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.example__indicators {
  display: flex;
  gap: 42px;
  margin: 70px 0 0 0;
  @media (max-width: 1249px) {
    margin: 54px 0 0 0;
  }
}
.example__indicator {
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-special-grey;
  width: 162px;
  height: 74px;
  border-radius: 3px;

  .example__legend {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: $color-basic-grey;
    padding: 0 4px;
    white-space: nowrap;
    @include base-text;
  }

  .example__label {
    @include header-3;
  }
}
.example__cost {
  padding-top: 56px;
  @include header-4;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1249px) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .example__price {
    padding-right: 108px;
    @media (max-width: 1249px) {
      padding-right: 0px;
    }
  }
}
.example__scrollbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.example__before-button,
.example__after-button {
  @include header-4;
  cursor: pointer;
  border-bottom: 1px dotted $color-special-grey-1;
}
.example__comparison {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  @media (max-width: 1249px) {
    align-items: center;
  }
}
.example__image-wrapper {
  position: relative;
  right: -81px;
  height: 536px;
  width: 730px;
  @media (max-width: 1249px) {
    right: 0px;
  }

  .example__before-cat-crop {
    width: 365px;
    height: 536px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    .example__before-cat {
      height: 536px;
      width: 730px;
      object-fit: cover;
    }
  }

  .example__after-cat-crop {
    width: 365px;
    height: 536px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -5;
    .example__after-cat {
      height: 536px;
      width: 730px;
      z-index: -5;
      object-fit: cover;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.example__scrollbar-track {
  position: relative;
  width: 428px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  background-color: $color-special-grey-1;

  .example__scrollbar-thumb {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    border: 1px solid $color-special-grey-1;
    border-radius: 16px;
    box-shadow: 0px 2px 2px $color-special-grey-1;
    transform: translate(-50%, -50%);
    background-color: $color-basic-white;
    cursor: pointer;
    &::after {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 4px;
      transform: translate(-50%, -50%);
      background-color: $color-basic-green;
    }
  }
}
.example__background {
  position: absolute;
  width: 100vw;
  height: 462px;
  left: 0;
  bottom: 0px;
  background-color: $color-basic-grey;
  z-index: -10;
}

/* example end */

/* location start */
.location {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 1249px) {
    flex-direction: column;
  }
}
.location__map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 400px;
  background-color: rgb(183, 153, 153);
  z-index: -10;
  @media (max-width: 1249px) {
    position: relative;
  }
}
.location__marker {
  width: 106px;
  height: 106px;
  transform: translate(-50%, -100%);
}
.location__wrapper {
  width: 100%;
}
.location__content {
  width: 570px;
  height: 200px;
  padding: 0 76px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: $color-basic-white;
  @media (max-width: 1249px) {
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
  }
}
.location__title {
  @include header-4;
  width: 50%;
  width: 171px;
}
.location__address {
  @include base-text;
  width: 50%;
  @media (max-width: 1249px) {
    text-align: right;
  }
}
/* location end */

/* footer start */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.footer__media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer__html-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.footer__html-logo-text {
  @include base-text;
}

/* footer end */

@media (max-width: 1439px) {
}

@media (max-width: 1249px) {
}
@media (max-width: 767px) {
}
@media (max-width: 960px) {
}
@media (max-width: 599px) {
}
